:root {
  --bg-branco-acinzentado: #c7d2fe;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* From http://thatemil.com/blog/2015/01/03/reset-your-fieldset/ by Emil Björklund */

legend {
  display: table;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

body {
  min-height: 100vh;
}

main,
body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 3rem;
  background-color: #e3f2fd;
  border-radius: 0 0 0.5rem 0.5rem;
}

.h1-header {
  grid-column-start: 2;
}

.img-header {
  margin-right: auto;
}

footer {
  margin-top: auto;
  height: 3rem;
  background-color: var(--bg-branco-acinzentado);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.telefone {
  display: flex;
  gap: 1rem;
}

button {
  width: 5rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: none;
  background: none;
  font-weight: bold;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

button:focus {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}

button:hover {
  filter: grayscale(50%);
}

.botao_enviar {
  background-color: green;
  color: white;
}

.botao_limpar {
  background-color: red;
  color: white;
}

label {
  display: block;
}

input {
  border: 1px solid black;
  border-radius: 0.25rem;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

input:focus {
  outline: none;
  border: 2px solid cornflowerblue;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  height: 60vh;
  width: 50vw;
  background-color: var(--bg-branco-acinzentado);
  border-radius: 0.5rem;
  margin-left: 1rem;
  padding: 1rem;
}

.dados-pessoais-identificacao,
.dados-pessoais-senha {
  grid-row: 1 / span 2;
}

.seletor-operacoes {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.operacoes-valor {
  grid-row: 3;
  grid-column: 1;
}
